* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #100c0a;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

nav {
  display: flex;
  gap: 24px;
}

a {
  color: white;
  text-decoration: none;
}

/*hero section*/
.container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 250px;
  border-radius: 8px;
}

.hero p {
  margin-top: 16px;
}

.hero h1 {
  font-size: 48px;
}

.about {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
